<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	xmlns:georss="http://www.georss.org/georss" xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" xmlns:media="http://search.yahoo.com/mrss/"
	>

<channel>
	<title>Lectures Henk Barendregt &#187; Teaching</title>
	<atom:link href="https://lectureshb.wordpress.com/category/teaching/feed/" rel="self" type="application/rss+xml" />
	<link>https://lectureshb.wordpress.com</link>
	<description>Fall-Winter quarter 2013/2014</description>
	<lastBuildDate>Sat, 20 Jun 2015 14:13:57 +0000</lastBuildDate>
	<language>en</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.com/</generator>
<cloud domain='lectureshb.wordpress.com' port='80' path='/?rsscloud=notify' registerProcedure='' protocol='http-post' />
<image>
		<url>https://s2.wp.com/i/buttonw-com.png</url>
		<title> &#187; Teaching</title>
		<link>https://lectureshb.wordpress.com</link>
	</image>
	<atom:link rel="search" type="application/opensearchdescription+xml" href="https://lectureshb.wordpress.com/osd.xml" title="Lectures Henk Barendregt" />
	<atom:link rel='hub' href='https://lectureshb.wordpress.com/?pushpress=hub'/>
	<item>
		<title>Spring 2012</title>
		<link>https://lectureshb.wordpress.com/2012/01/16/spring2012/</link>
		<comments>https://lectureshb.wordpress.com/2012/01/16/spring2012/#comments</comments>
		<pubDate>Mon, 16 Jan 2012 08:47:05 +0000</pubDate>
		<dc:creator><![CDATA[Henk Barendregt]]></dc:creator>
				<category><![CDATA[Teaching]]></category>

		<guid isPermaLink="false">http://lectureshb.wordpress.com/?p=1</guid>
		<description><![CDATA[LC Lambda Calculus CX Introduction to Complexity ML Formal languages, grammars, and machines<img alt="" border="0" src="https://pixel.wp.com/b.gif?host=lectureshb.wordpress.com&#038;blog=31598567&#038;post=1&#038;subd=lectureshb&#038;ref=&#038;feed=1" width="1" height="1" />]]></description>
				<content:encoded><![CDATA[<p>LC <a href="https://lectureshb.wordpress.com/lc/">Lambda Calculus</a></p>
<p>CX <a href="http://alexandrasilva.org/teaching/complexity2012/" target="_blank">Introduction to Complexity</a></p>
<p>ML <a href="https://lectureshb.wordpress.com/ml/">Formal languages, grammars, and machines</a></p><br />  <a rel="nofollow" href="http://feeds.wordpress.com/1.0/gocomments/lectureshb.wordpress.com/1/"><img alt="" border="0" src="http://feeds.wordpress.com/1.0/comments/lectureshb.wordpress.com/1/" /></a> <img alt="" border="0" src="https://pixel.wp.com/b.gif?host=lectureshb.wordpress.com&#038;blog=31598567&#038;post=1&#038;subd=lectureshb&#038;ref=&#038;feed=1" width="1" height="1" />]]></content:encoded>
			<wfw:commentRss>https://lectureshb.wordpress.com/2012/01/16/spring2012/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	
		<media:content url="https://1.gravatar.com/avatar/d79897023ac57f978fd3eef7c4750646?s=96&#38;d=identicon&#38;r=G" medium="image">
			<media:title type="html">Hendrik</media:title>
		</media:content>
	</item>
	</channel>
</rss>
