<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	xmlns:georss="http://www.georss.org/georss" xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" xmlns:media="http://search.yahoo.com/mrss/"
	>

<channel>
	<title>Lectures Henk Barendregt &#187; Huygens Lecture</title>
	<atom:link href="https://lectureshb.wordpress.com/category/teaching/huygens-lecture/feed/" rel="self" type="application/rss+xml" />
	<link>https://lectureshb.wordpress.com</link>
	<description>Fall-Winter quarter 2013/2014</description>
	<lastBuildDate>Sat, 20 Jun 2015 14:13:57 +0000</lastBuildDate>
	<language>en</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.com/</generator>
<cloud domain='lectureshb.wordpress.com' port='80' path='/?rsscloud=notify' registerProcedure='' protocol='http-post' />
<image>
		<url>https://s2.wp.com/i/buttonw-com.png</url>
		<title> &#187; Huygens Lecture</title>
		<link>https://lectureshb.wordpress.com</link>
	</image>
	<atom:link rel="search" type="application/opensearchdescription+xml" href="https://lectureshb.wordpress.com/osd.xml" title="Lectures Henk Barendregt" />
	<atom:link rel='hub' href='https://lectureshb.wordpress.com/?pushpress=hub'/>
	<item>
		<title>Fall 2013</title>
		<link>https://lectureshb.wordpress.com/2013/11/18/fall-2013/</link>
		<comments>https://lectureshb.wordpress.com/2013/11/18/fall-2013/#comments</comments>
		<pubDate>Mon, 18 Nov 2013 13:38:40 +0000</pubDate>
		<dc:creator><![CDATA[Henk Barendregt]]></dc:creator>
				<category><![CDATA[Huygens Lecture]]></category>

		<guid isPermaLink="false">http://lectureshb.wordpress.com/?p=238</guid>
		<description><![CDATA[Reflection: an ubiquitous universal mechanism Taught by Henk Barendregt Assisted by Joshua Moerman HG00.307 on Mondays 17:30-19:30 HG00.303 on Wednesdays 17:30-19:30 Lecture Notes 11.11 Overview 18.11 Languages 20.11 Exercises (languages). Solutions. 25.11 Meta-awareness (Center for Mindfulness, Erasmuslaan 15) 27.11 Combinators (this will be a lecture!) 02.12 Lambda calculus 1 04.12 Exercises (combinators) Solutions 09.12 Lambda [&#8230;]<img alt="" border="0" src="https://pixel.wp.com/b.gif?host=lectureshb.wordpress.com&#038;blog=31598567&#038;post=238&#038;subd=lectureshb&#038;ref=&#038;feed=1" width="1" height="1" />]]></description>
				<content:encoded><![CDATA[<p><strong>Reflection: an ubiquitous universal mechanism<br />
</strong><br />
Taught by <a href="mailto:henk@cs.ru.nl">Henk Barendregt</a><br />
Assisted by <a href="mailto:joshuamoerman@student.ru.nl">Joshua Moerman</a></p>
<p>HG00.307 on Mondays 17:30-19:30<br />
HG00.303 on Wednesdays 17:30-19:30<br />
<a href="http://www.cs.ru.nl/~henk/Reflection/HLNotes.pdf" target="_blank">Lecture Notes</a></p>
<p>11.11 <a href="http://www.cs.ru.nl/~henk/Reflection/HL1.pdf" target="_blank">Overview</a></p>
<p>18.11 <a href="http://www.cs.ru.nl/~henk/Reflection/HL2.pdf" target="_blank">Languages</a><br />
20.11 <a href="http://www.cs.ru.nl/~henk/Reflection/w2.pdf" target="_blank">Exercises</a> (languages). <a href="http://www.cs.ru.nl/~henk/Reflection/uitw2.pdf" target="_blank">Solutions</a>.</p>
<p>25.11 <a href="http://roma1vipassana.wordpress.com/goals-and-method/" target="_blank">Meta-awareness</a> (Center for Mindfulness, Erasmuslaan 15)<br />
27.11 <a href="http://www.cs.ru.nl/~henk/Reflection/HL3.pdf" target="_blank">Combinators</a> (this will be a lecture!)</p>
<p>02.12 <a href="http://www.cs.ru.nl/~henk/Reflection/HL4.pdf" target="_blank">Lambda calculus 1</a><br />
04.12 <a href="http://www.cs.ru.nl/~henk/Reflection/w4.pdf" target="_blank">Exercises</a> (combinators) <a href="http://www.cs.ru.nl/~henk/Reflection/uitw4.pdf" target="_blank">Solutions</a></p>
<p>09.12 <a href="http://www.cs.ru.nl/~henk/Reflection/HL5.pdf" target="_blank">Lambda calculus 2</a><br />
11.12 <a href="http://www.cs.ru.nl/~henk/Reflection/w5.pdf" target="_blank">Exercises</a> (lambda calculus 1) <a href="http://www.cs.ru.nl/~henk/Reflection/w5a.pdf" target="_blank">Warmup</a>. <a href="http://www.cs.ru.nl/~henk/Reflection/uitw5.pdf" target="_blank">Solutions</a></p>
<p>16.12 <a href="http://www.cs.ru.nl/~henk/Reflection/HL6.pdf" target="_blank">Reflection 1</a><br />
18.12 <a href="http://www.cs.ru.nl/~henk/Reflection/w6.pdf" target="_blank">Exercises</a> (lambda calculus 2) <a href="http://www.cs.ru.nl/~henk/Reflection/uitw6.pdf" target="_blank">Solutions</a>.</p>
<p>06.01 No lecture<br />
08.01 <a href="http://www.cs.ru.nl/~henk/Reflection/w7.pdf" target="_blank">Exercises</a> (Reflection 1) <a href="http://www.cs.ru.nl/~henk/Reflection/uitw7.pdf" target="_blank">Solutions</a>.</p>
<p>13.01 <a href="http://www.cs.ru.nl/~henk/Reflection/HL8.pdf" target="_blank">Reflection</a> 2<br />
15.01 <a href="http://www.cs.ru.nl/~henk/Reflection/w8.pdf" target="_blank">Exercises</a> (Reflection 2) <a href="http://www.cs.ru.nl/~henk/Reflection/uitw8.pdf" target="_blank">Solutions</a>.</p>
<p>Extra <a href="http://www.cs.ru.nl/~henk/Reflection/w9.pdf" target="_blank">trial for examination</a>.</p>
<p>27.01(?) Tentamen</p><br />  <a rel="nofollow" href="http://feeds.wordpress.com/1.0/gocomments/lectureshb.wordpress.com/238/"><img alt="" border="0" src="http://feeds.wordpress.com/1.0/comments/lectureshb.wordpress.com/238/" /></a> <img alt="" border="0" src="https://pixel.wp.com/b.gif?host=lectureshb.wordpress.com&#038;blog=31598567&#038;post=238&#038;subd=lectureshb&#038;ref=&#038;feed=1" width="1" height="1" />]]></content:encoded>
			<wfw:commentRss>https://lectureshb.wordpress.com/2013/11/18/fall-2013/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
	
		<media:content url="https://1.gravatar.com/avatar/d79897023ac57f978fd3eef7c4750646?s=96&#38;d=identicon&#38;r=G" medium="image">
			<media:title type="html">Hendrik</media:title>
		</media:content>
	</item>
	</channel>
</rss>
