.broodtekst {
	color: #000000;
	_margin-top: -2px;
	margin-right: 100px;
	font-size: 12px;


}
a {
	text-decoration: underline;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color: #999999;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;

}
a {  }
body {  }
body {  }
.foto-in-tekst-links { margin-top: 10px; margin-right: 10px; margin-bottom: 10px}
.foto-in-tekst-rechts { margin-top: 10px; margin-bottom: 10px; margin-left: 10px }
.kop1 {  font-size: 14px; color: #006699; font-weight: bold}
.kop2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #006699; text-decoration: none; _margin-top: -2px}
.kop3 {  font-style: italic; color: #006699; _margin-top: -2px}
table {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; margin-bottom: 14px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; _margin-top: -2px}
.nadruk {  font-style: italic}
.citaat {  font-style: italic; font-size: 10px}
.titel {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 24px; color: #000066; text-decoration: none; font-style: italic}
.sterk {  font-weight: bold}
.microscopisch {  font-size: 9px; line-height: 9px; color: #000000; padding-top: 0px; padding-bottom: 0px}
.reftitel {
	font-style: italic;
	font-weight: bold;
}
.reftoelichting {
	font-style: italic;
	color: #003399;
}
.spreker {
}
.talk {
	font-style: italic;
}
.social {
	text-transform: uppercase;
}
.author {
}
.affiliation {
	font-style: italic;
}
.c-title {
	font-style: normal;
}
.c-author {
	font-style: italic;
}
