body
{
  background-color: #000000;
  color: #cccccc;
  font-family: geneva, sans-serif;
  font-size: 14px;
  line-height: 133%;
  text-align: center;
}

div.body
{
  width: 538px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

pre
{
  color: #6699ff;
  background-color: #000000;
  font-size: 13px;
  font-family: monaco, monospace;
}

tt
{
  color: #6699ff;
  background-color: #000000;
  font-size: 13px;
  font-family: monaco, monospace;
}

h1
{
  text-align: center;
  margin-top: 64px;
  margin-bottom: 48px;
  font-size: 18px;
}

h2
{
  text-align: center;
  margin-top: 48px;
  margin-bottom: 32px;
  font-size: 18px;
}

a:link {
  color: #ff0000;
  background-color: #000000;
}

a:visited {
  color: #990000;
  background-color: #000000;
}

a:active {
  color: #ff9999;
  background-color: #000000;
}

.hiddenlink a
{
  color: #cccccc;
  background-color: #000000;
  text-decoration: none;
}
.hiddenlinkpre a
{
  color: #6699ff;
  background-color: #000000;
  text-decoration: none;
}

ol li
{
  margin-bottom: 12px;
}

ul li
{
  margin-bottom: 0px;
}

ul
{
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

ol
{
  list-style-type: decimal;
  margin: 24px 0px 28px 0px;
}

table
{
  border-collapse: collapse;
}

td
{
  padding: 0px 30px 0px 0px;
}

center
{
  margin: 20px 0px 20px 0px;
}
